.home-page {
    background-color: var(--secondary-dark-color);
    height: 60vh;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.welcoming-quote {
    color: var(--secondary-dark-color);
    display: flex;
    font-size: 20px;
}

.pick-category-button {
    
    background-color: var(--button-secondary-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 0;
    border-radius: 20px;
    padding: 10px 20px 10px;
    font-size: 50px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.pick-category-button:active {
    background-color: var(--white-text-color);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
