:root {
    --background-color: #190933;
    --primary-dark-color: #665687;
    --secondary-dark-color: #9f86c0;
    --button-primary-color: #ACFCD9;
    --button-secondary-color: #5DD9C1;
    --white-text-color: aliceblue;
}

a:link {
    text-decoration: none;
}

body {
    background-color: var(--background-color);
    max-width: 100%;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: center;
    position: relative;
    translate: -5vw;
    justify-content: space-evenly;
    width: 105vw;
    font-size: medium;
    background-color: var(--button-primary-color);
}

.signedinas {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar-button {
    cursor: pointer;
    background-color: var(--button-primary-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0;
    font-size: large;
    background: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    margin: 5px;
    padding: 10px;
}

.navbar-button:hover {
    color: var(--primary-dark-color);
}

.login {
    background-color: var(--secondary-dark-color);
    display: grid;
    padding: 30px;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login-btn {
    background-color: var(--button-secondary-color);
    border: none;
    margin-left: 60px;
    margin-right: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 50px;
    cursor: pointer;

}

.login-btn:active {
    background-color: var(--white-text-color);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    cursor: pointer;
}

.footer {
    color: var(--white-text-color);
    position: absolute;
    display: flex;
    margin-top: 30px;
    justify-content: center;
    width: 110vw;
    align-items: center;
}

.logo {
    background-color: var(--primary-light-color);
    display: flex;
    justify-content: center;

}