:root {
    --background-color: #190933;
    --primary-dark-color: #665687;
    --secondary-dark-color: #B084CC;
    --button-primary-color: #ACFCD9;
    --button-secondary-color: #5DD9C1;
}
body {
    background-color: var(--background-color);
}

.Logo {
    background-color: var(--primary-light-color);
    max-width: 60%;
    max-height: auto;
    display: flex;
    justify-content: center;
    margin: auto;
  }

.img {
    background-color: var(--primary-light-color);
}

.Topper {
    background-color: #190933 ;
}

.navbar {
    list-style-type: none;
}

.questions {
    background-color: var(--primary-dark-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px;
    margin: 30px;
    color: var(--background-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px

}

.answer {
    color: rgb(234, 20, 17);
    display: flex;
    align-items: stretch;
  justify-content: space-around;
    align-items: center;
    min-height: 100%;
    width: 100%;
    flex-direction: column;
    
}

.answer-button {
    border-radius: 25px;
    border: 0;
    background-color: var(--secondary-dark-color);
    margin: 10px;
    padding: 20px;
    min-width: 400px;
    min-height: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.answer-button:hover {
    background-color: var(--button-primary-color);
}

.question {
    border-bottom: 5solid black;
    padding-bottom: 40px;
    margin-bottom: 100px;

}

.categories {

    padding: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    column-gap: 30px;    
    row-gap: 50px;
    
}

a:link {
    text-decoration: none;
}

.categoryName {
    color: #5DD9C1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

quote {
    color: var(--secondary-dark-color);
    display: flex;
    font-size: 20px;

}

.homePage {
    background-color: var(--secondary-dark-color);
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.pickCategorybtn {
    
    background-color: var(--button-secondary-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 0;
    border-radius: 20px;
    padding: 10px 20px 10px;
    font-size: 50px;
}
