:root {
    --background-color: #190933;
    --primary-dark-color: #665687;
    --secondary-dark-color: #B084CC;
    --button-primary-color: #ACFCD9;
    --button-secondary-color: #5DD9C1;
    --white-text-color: aliceblue;
}
body {
    background-color: var(--background-color);
}

.Logo {
    background-color: var(--primary-light-color);
    max-width: 60%;
    max-height: auto;
    display: flex;
    justify-content: center;
    margin: auto;
  }

.navbar {
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
    padding: 5px;
    background-color: var(--button-primary-color);
    
}

.navbar-button {
    cursor: pointer;
    background-color: var(--button-primary-color);
    border-radius: 5px;
    border: 0;
    font-size:medium
    
}

.navbar-button:hover{
    color: var(--primary-dark-color);
}


.footer {
    color: var(--white-text-color);
    display: flex;
    justify-content: center;
}






