:root {
    --background-color: #190933;
    --primary-dark-color: #665687;
    --secondary-dark-color: #B084CC;
    --button-primary-color: #ACFCD9;
    --button-secondary-color: #5DD9C1;
    --white-text-color: aliceblue;
}
body {
    background-color: var(--background-color);
}

.Logo {
    background-color: var(--primary-light-color);
    max-width: 60%;
    max-height: auto;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 110vw;
  }

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 110vw;
    align-content: center;
    font-size: large;
    background-color: var(--button-primary-color);
    margin: 5px;
    padding: 5px;

}

.navbar-button {
    cursor: pointer;
    background-color: var(--button-primary-color);
    border: 0;
    font-size: large;
    
}

.navbar-button:hover{
    color: var(--primary-dark-color);
}

.login {
    background-color: var(--secondary-dark-color);
    display: grid;
    padding: 30px;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login-btn {
    background-color: var(--button-secondary-color);
    border: none;
    margin-left: 60px;
    margin-right: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 50px;
    cursor: pointer;

}

.login-btn:active {
    background-color: var(--white-text-color);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    cursor: pointer;
}

.footer {
    color: var(--white-text-color);
    display: flex;
    justify-content: center;
    width: 110vw;
}
