.questions {
    background-color: var(--primary-dark-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px;
    padding-top: 100px;
    margin: 30px;
    color: var(--background-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    list-style-type: none;
    height: 600px;

}

.answer {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    align-items: center;
    min-height: 100%;
    width: 100%;
    flex-direction: column;
}

.answer-button {
    border-radius: 25px;
    border: 0;
    background-color: var(--secondary-dark-color);
    margin: 10px;
    padding: 20px;
    min-width: 400px;
    min-height: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;

}

.answer-button:hover {
    background-color: var(--button-primary-color);
}



.question {
    border: solid 1px var(--secondary-dark-color);
    padding: 20px;
    width: 750px;
    margin-bottom: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.quizdata {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    justify-content: center;
    font-size: 30px;
    height: 100px;
}

.timer {

    width: 100px;
    border-radius: 50%;
    background-color: rgb(152, 91, 152);
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.streak {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    margin: 10px;
    align-items: center;
    align-content: center;
    padding: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.score {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    margin: 10px;
    align-items: center;
    align-content: center;
    padding: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}





