
.categories {
    background-color: var(--secondary-dark-color);
    padding: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    column-gap: 30px;    
    row-gap: 50px;
    
}

a:link {
    text-decoration: none;
}

.category-name {
    color: #5DD9C1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
