.timeline {
  border: solid 10px black;
  display: flex;
  flex-direction: row;
  background-color: darkgray;
  width: 50vw;
  height: 20vh;
  gap: 0.5vw;
  padding: 20px 10px 0px;
}

.question-box {
  border: 10px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.tooltip {
  display: none;
  position: absolute;
  translate: 0% -120%;
  font-size: 20px;
  background: gray;
  padding: 5px;
  border: solid;
}

.question-box-content {
  border: 10px solid yellow;
  position: relative;
  border-bottom: solid;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  animation: name 10 cubic-bezier() 0 2;
}

.question-box-content:hover .tooltip{display: block;}



.question-box-tag {
  border: 10px solid red;
  justify-content: center;
  align-items: center;
}

