.timeline-extended {
  display: flex;
  flex-direction: column-reverse;
  height: 10%;
  box-sizing: border-box;
}

.timeline {
  border: solid 2px black;
  display: flex;
  flex-direction: row;
  background-color: darkgray;
  height: 20vh;
  gap: 0.5vw;
}

.question-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.tooltip {
  display: none;
  position: absolute;
  translate: 0% -120%;
  font-size: 5px;
  background: gray;
  padding: 5px;
  border: solid;
}

.question-box-content {
  position: relative;
  align-items: top;
  border-bottom: solid;
  width: 100%;
  height: 50%;
  box-sizing: border-box;
}

.question-box-content:hover .tooltip{display: block;}

.question-box-tag {
  font-size: 20px;
  text-overflow: clip;
  justify-content: center;
  align-self: center;
  height: 50%;
  width: 100%;
  box-sizing: border-box;
}

